.list-files {
  display: flex;
  flex-wrap: wrap;

  mat-list {
    display: flex;
    flex-direction: column;
  }
  .list{
    width: 20rem;
  }
}

.scrollable{
    overflow-y: scroll;
    height:400px;
}
