.log-list {
  display: flex;
  flex-wrap: wrap;

  mat-list-item {
    width: 25rem;
    display: flex;
    flex-direction: column;
  }
}
.status-ok {
  text-transform: capitalize;
  color: rgb(4, 119, 16);
}
.status-attention {
  text-transform: capitalize;

  color: rgb(204, 150, 0);
}
.status-fail {
  text-transform: capitalize;

  color: rgb(148, 5, 26);
}
.status-card {
  font-size: 0.8rem;
  position: fixed;
  opacity: 0.1;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  transition: opacity 0.5s ease-out;
  text-transform: none;
}

.status-card:hover {
  opacity: 1;
}
