<mat-list *ngIf="logStatus" class="log-list">
    <mat-list-item *ngFor="let s of logStatus">
        <h4 mat-line [ngClass]="getStatusClass(s)">{{s.status}}</h4>
        <p mat-line
            matTooltip="Got {{s.status}} from {{s.address}} at {{ s.time | date:'HH:mm:ss' }}. Interval {{s.interval}} sec.">
            <span *ngIf="s.status == 'ok'">Response from <strong>{{ s.address }}</strong> at
                {{ s.time | date:'HH:mm:ss' }}.
            </span>
            <span *ngIf="s.status == 'estabilished'">Connection estabilished with <strong>{{ s.address }}</strong> at
                {{ s.time | date:'HH:mm:ss' }}. Test interval switched to {{ s.interval }} seconds. </span>
            <span *ngIf="s.status == 'timeout'">Timeut connecting with <strong>{{ s.address }}</strong> at
                {{ s.time | date:'HH:mm:ss' }}.
            </span>
            <span *ngIf="s.status == 'lost'">Connection lost with <strong>{{ s.address }}</strong> at
                {{ s.time | date:'HH:mm:ss' }}.
                Test interval switched to {{s.interval}} sedonds.</span></p>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>


<mat-card *ngIf="currentStatus" [ngClass]="getStatusClass(currentStatus)" class="status-card">
    Got {{ currentStatus.status }}
    from {{ currentStatus.address }}
    at {{ currentStatus.time | date:'dd/MM/yyyy (HH:mm:ss)'}}.
    Interval {{currentStatus.interval}} seconds.
</mat-card>